.CountryList {
  margin-bottom: 50px;
}

.list-item {
  cursor: pointer;
}

.list-item:hover {
  background: #f1f1f1;
}

.list-item > span {
  padding: 10px;
  display: inline-block;
}

.list-item > span.points {
  float: right;
}

.list-item > span.position {
  width: 22px;
}

.list-item.placeholder {
  opacity: 0;
}

.list-item.dragged {
  background: yellow;
}
